@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Titillium+Web:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');

#root {
  color: #213B66;
  font-family: 'Titillium Web', sans-serif;
  --swiper-theme-color: #fff;
}

#main {
  font-family: 'Montserrat', sans-serif;
}

#webdev {
  font-family: 'Rubik', sans-serif;
}

#slogan {
  background-color: rgba(6, 24, 52, 0.06);
}

/* 
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

body::-webkit-scrollbar {
  /* width: 10px;
  height: 10px; */
  display: none;
}

/* ::-webkit-scrollbar-track {
  background: rgb(115,130,153);
  background: -moz-linear-gradient(180deg, rgba(115,130,153,1) 0%, rgba(6,24,52,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(115,130,153,1) 0%, rgba(6,24,52,1) 100%);
  background: linear-gradient(180deg, rgba(115,130,153,1) 0%, rgba(6,24,52,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#738299",endColorstr="#061834",GradientType=1);
} */

/* ::-webkit-scrollbar-thumb {
  background: #CCDBF2;
  border-radius: 10px;
} */

.radial {
  background: rgb(6, 24, 52);
  background: -moz-radial-gradient(circle, rgba(6, 24, 52, 0.5) 0%, rgba(23, 46, 84, 0.6) 5%, rgba(23, 46, 84, 0) 55%);
  background: -webkit-radial-gradient(circle, rgba(6, 24, 52, 0.5) 0%, rgba(23, 46, 84, 0.6) 5%, rgba(23, 46, 84, 0) 55%);
  background: radial-gradient(circle, rgba(6, 24, 52, 0.5) 0%, rgba(23, 46, 84, 0.6) 5%, rgba(23, 46, 84, 0) 55%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#061834", endColorstr="#172e54", GradientType=1);
}

#img {
  background-image: linear-gradient(hsl(var(--b1) / 0.9), hsl(var(--b2) / 0.5)), url(https://placehold.co/1600x900?text=Page+1&font=montserrat)
}

.masked-pict {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0));
  mask-image: linear-gradient(rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0));
  mask-mode: alpha
}

.masked-image {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
  mask-image: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0));
  mask-mode: alpha
}